#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.square {
  background: #f0f0f0;
  float: left;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  line-height: 2em;
  height: 2em;
  width: 2em;
  padding: 0;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.1em;
}

.square:hover {
  border-color: #646cff;
}

.square:focus,
.square:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.winner-prompt {
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  line-height: 2em;
  height: 2em;
  margin: 0.5em;
}
